<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bingo.joy"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <!-- 豌豆荚 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- 多盟 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 聚米 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT"/>
    <!-- 浮窗广告特有权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/NoTitleTheme">
        <activity
            android:name="com.bingo.joy.activity.FlashActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.bingo.joy.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bingo.joy.activity.RiddleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bingo.joy.activity.TwisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bingo.joy.activity.SayingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bingo.joy.activity.MyRiddleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name="com.bingo.joy.activity.MyTwisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name="com.bingo.joy.activity.MySayingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <!-- 腾讯 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent222222"/>
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name="com.tencent.sample.DataProviderActivity"-->
        <!--android:exported="false"-->
        <!--android:launchMode="singleTop" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<data android:scheme="tencent222222.data" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="com.tencent.open.yyb.AppbarActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.tencent.connect.avatar.ImageActivity"/>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--&lt;!&ndash; 聚米 &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.adjumi.demo.push.u.AdActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.NoTitleBar">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<service android:name="com.adjumi.demo.push.n.AdDwService"/>-->
        <!--<service android:name="com.adjumi.demo.push.n.AdFSsevice"/>-->
        <!--<service android:name="com.adjumi.demo.push.n.AdService"/>-->
        <!--&lt;!&ndash; new pop &ndash;&gt;-->
        <!--<service android:name="com.ps.test.n.MService"/> &lt;!&ndash; 主服务 &ndash;&gt;-->
        <!--<service android:name="com.ps.test.n.DService"/> &lt;!&ndash; 下载服务 &ndash;&gt;-->
        <!--<receiver android:name="com.ps.test.n.MReceiver"> &lt;!&ndash; 广播接收器 &ndash;&gt;-->
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
                <!--<action android:name="android.intent.action.USER_PRESENT"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED"/>-->
                <!--<action android:name="android.intent.action.PACKAGE_REPLACED"/>-->

                <!--<data android:scheme="package"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<activity-->
            <!--android:name="com.ps.test.u.Main"-->
            <!--android:configChanges="orientation"-->
            <!--android:launchMode="singleTop"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"/> &lt;!&ndash; Activity &ndash;&gt;-->
        <!--&lt;!&ndash; new pop &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.adjumi.demo.push.n.AdReceiver"-->
            <!--android:persistent="true">-->
            <!--<intent-filter android:priority="2147483647">-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
                <!--<action android:name="android.intent.action.RESUME"/>-->
                <!--<action android:name="android.intent.action.USER_PRESENT"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED"/>-->
                <!--<data android:scheme="file"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED"/>-->
                <!--<data android:scheme="package"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->


        <!-- wandoujia ads sdk -->
        <!--<activity-->
        <!--android:name="com.wandoujia.ads.sdk.activities.AppDetailActivity"-->
        <!--android:theme="@style/Activity" />-->
        <!--<activity-->
        <!--android:name="com.wandoujia.ads.sdk.activities.AppWallActivity"-->
        <!--android:theme="@style/Activity" />-->
        <!--<activity-->
        <!--android:name="com.wandoujia.ads.sdk.activities.InterstitialActivity"-->
        <!--android:theme="@style/InterstitialActivity" />-->
        <!--<service-->
        <!--android:name="com.wandoujia.ads.sdk.download.AppDownloadService"-->
        <!--android:process=":app_download" />-->
        <!--多盟 -->
        <!--<activity-->
        <!--android:name="cn.domob.android.ads.DomobActivity"-->
        <!--android:theme="@android:style/Theme.Translucent" >-->
        <!--</activity>-->
    </application>
</manifest>